

.card{
    height: auto;
    width: 100%;
}


.vacio{
    border-top: 20px solid rgb(255, 145, 0);
    height: 50px;
    width: 350px;
   
    padding: 0;
    
}

.card-text{
    font-size: 20px;
    color: rgb(255, 145, 0);
}