.containerhome {
	background-color: #efe9dd;
	width: 100%;
	margin: auto;
	padding: 20px;
	border: 0;
}
.card {
	height: auto;
	width: 100%;
}

.vacio {
	border-top: 20px solid rgb(255, 145, 0);
	height: 50px;
	width: 350px;
	max-width: 350px;
	padding: 0;
	display: flex;
}

.card-text {
	font-size: 20px;
	color: rgb(255, 145, 0);
}
