.headerxd {
	margin: 0%;
	width: 100%;
	background-color: transparent !important;
}
.headerxd nav {
	background-color: transparent !important;
}
#header ul li a:hover {
	background-color: #ffbf80;
	font-size: 16px;
	font-weight: bold;
}

.navbar-text {
	float: right;
}

.section {
	width: 100%;
	height: 300px;
	background: url(../../img/header_bg.jpg) no-repeat center;
	background-size: cover;
	background-position: center;
}
